body {
  margin: 0;
  padding: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #f2f6e9;
  color: #212529;
  text-align: left;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}


/*--- navigation bar ---*/
.navbar {
  background:#495978;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #117964;
}

.nav-link.active {
  color: #fff;
  background-color: #1abc9c;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('images/header-background.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header2 {
  background-image: url('images/header-background.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.progress-bar {
  left: 0 !important;
  bottom: 0;
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #6ab446;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
    border-radius: 0;
}
.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}
.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}

.break {
  background-color: black;
}

.featurette-divider {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.marketing {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.hidden {
  display: none !important;
}

.logo {
  max-width: 15vw;
  max-height: 15vh;
}

.profile {
  border-radius: 10%;
}

#quiz_progress {
  width: 100%;
}

.wrongAnswer {
  background-color: red;
}

.correctAnswer {
  background-color: #24E28A;
}

.hidden {
  display: none;
}

.score {
  background-color: #99f7f7;
}

.alert-git {
  background-color: #82f59b;
}

.hideFrame {
  display: none;
}

iframe {
  width: 100%;
  min-height: 100vh;
}

.list-group {
  text-align: center;
}

.list-group-item {
  background-color: transparent;
  color: black;
}

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 25px 15px;
    position: absolute;
    top: 15%;
    transform: none;
    text-align: center;
    margin: auto;
  }

  .description h1 {
    font-size: 2em;
  }

  .description p {
    font-size: 1.2rem;
  }

  .features {
    margin: 0;
  }
}

.gallery {
width: 90%;
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-width: 50%;
-moz-column-width: 50%;
column-width: 50%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

.gallery div .overlay {
  position: absolute;
  background-color: white !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.gallery div:hover .overlay {
  opacity: 0.7;
}

.gallery div .overlay p {
  color: black;
  font-size: 1.3rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}


.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.coloredContainer {
  background-color: #62BD9C; 
  color: #fff;
  border-radius: 0 0 5% 5%;
}

.coloredContainer .center {
  margin: auto;
  padding: 2% 5% 2% 5%;
}

a.anchor, a.anchor2, a.anchor3 {
  display: block;
  position: relative;
  visibility: hidden;
}

a.anchor {
  top: -0.5% !important;
}

a.anchor2 {
  top: -2em !important;
}

a.anchor3 {
  top: -0.99em !important;
}