/*-------------------General Settings-----------------------------*/
#content { background-color: #2AA6EE; min-height: 100%; }
html, body { color: #000000; font-size: 100%; min-height: 100%;  margin: 0; padding: 0; position: relative; overflow-x: hidden; width: 100%; }

#myTopnav { background-color: #24E28A; }
ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; }
li { float: left; border-right:1px solid #bbb; }
li:last-child { border-right: none; }
li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
li a:hover:not(.active) { background-color: green; }
.active { background-color: #4CAF50; }

a.content:link, a.content:visited { background-color: #E5EBE8; border: 1px solid green; border-style: dotted; color: green; padding: 0.5em 0.5em; text-align: center; text-decoration: none; display: inline-block; }
a.content:hover, a.content:active { background-color: #24E28A; }

a.hyperosoite:link { text-decoration: none; color: blue; background-color: #c2c2d6; }
a.hyperosoite:visited { text-decoration: none; color: blue;  background-color: #c2c2d6; }
a.hyperosoite:hover, a.hyperosoite:active { text-decoration: none; background-color: #24E28A; }

#dices {
  border-style: solid;
  padding: 0.5em;
  border-color: blue;
  border-size: 0.5em;
}

#dices img {
  margin-right: 1em;
  width: 10%;
  height: 10%;
}

#result {
  border-style: dashed;
  border-size: 0.5em;
  background-color: #03FC6B;
  padding: 0.5em;
  width: 20%;
}

.hidden { display: none; }

p.centerDice { animation: dice 1.66s infinite; animation-timing-function: cubic-bezier(0.50,0,0.50,1); color: white; text-align: center; }

p.center { text-align: center; }

/* The animation code */
@keyframes dice {
  0% {color: black;}
  50% {color: blue;}
  100%   { Color: black; }
}

#galleria ul li {
  position: relative;
  margin-bottom: 5%;
  width: 100%;
}

#galleria img {
  display: block;
  height: auto;
}

#galleria ul li .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

#galleria ul li:hover .overlay {
  opacity: 0.8;
}

#galleria ul li .overlay p {
  color: #22A7F0;
  font-size: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*-----------------------------------------Desktop--------------------------------*/
@media only screen and (min-width: 721px) {

h3 { margin-top: 3.0em; line-height: 0.5; }
h2 { margin-top: 2.0em; line-height: 0.5; }
h2.extraspace { margin-top: 1.0em; line-height: 0.5; }

#secondRow { background-color: #2AA6EE; color: #FFFFFF; font-size: 1.5em; text-align: center; padding-bottom: 0.5em; padding-top: 0.5em; position: -webkit-sticky; position: sticky; top: 0; z-index: 1; }

#thirdRow { background-color: #E5EBE8; }
#firstColumn { display: none; float: left; margin-left: 0.5em; width: 25%; }
#secondColumn { display: block; float: left; margin-bottom: 2em; margin-left: 4em; width: 65%; text-align: left; }
.center { margin: 10px auto; }
#thirdColumn { display: block; float: left; width: 27%; }
.newsBox { background-color: #94E8C1; border: 1px solid #6C6E72; border-style: dotted; color: red; margin: 0 0 0 2%; padding: 0 0 0 2%; }
.profileBox { margin: 2% 2% 0 10%; padding: 0 0 0 2%; }
.profileBox_mobile { display: none; }

#fourthRow { background-color: #2AA6EE; bottom: 0; color: #D6DEE4; min-height: 100px; width: 100%; }

#footer { font-size: 120%; padding-bottom: 0.2em; padding-top: 0.8em; text-align: center; }

img.projectPics { height: auto; max-width: 80%; }
figcaption.projects { font-size: smaller; text-align: left; text-indent: 0; }
p.status { color: #8B0000; font-weight: bold; font-style: italic; }

figcaption.profile { font-size: smaller; font-style: italic; text-align: left; text-indent: 0; }
img.profilePic { border-radius: 10%; height: auto; max-width: 100%; }
.center_contact { text-align: center; }

#galleria ul li .overlay {
  width: 80%;
}

table { border-collapse: collapse; margin-left: auto; margin-right: auto; width: 100%; }
th { color: blue; }
th, td { text-align: left; padding: 8px; }
tr:nth-child(even) {background-color: #f2f2f2;}

.clear:after { clear:both; content:"."; display:block; height:0; line-height:0; visibility: hidden; }
.clear { clear: both; display: block; width: 100%; }
html[xmlns] .clear { display: block; }
* html .clear { height: 1%; }
}
/*--------------------------------------Mobile------------------------------------------------*/
@media only screen and (max-width: 720px) {
#secondRow { background-color: #2AA6EE; color: #FFFFFF; font-size: 1.5em; text-align: center; position: -webkit-sticky; position: sticky; top: 0; z-index: 1; }

#thirdRow { background-color: #E5EBE8; }
#firstColumn { display: none; margin-left: 0.5em; width: 100%; }
#secondColumn { display: block; padding: 0.1em 1em 1em 2.0em; text-align: left; width: 80%; }
.center { margin: 10px auto; }
#thirdColumn { display: block; float: left; width: 100%; }
.newsBox { background-color: #94E8C1; border: 1px solid #6C6E72; border-style: dotted; color: red; margin: 0 0 0 2%; padding: 0 0 0 2%; }
.profileBox { display: none; }
.profileBox_mobile { margin: 0; padding: 2% 0 0 0; }

#fourthRow { background-color: #2AA6EE; bottom: 0; color: #D6DEE4; min-height: 100px; width: 100%; }

#footer { font-size: 120%; padding-bottom: 0.2em; padding-top: 0.8em; text-align: center; }

img.projectPics { height: auto; width: 100%; }
figcaption.projects { font-size: smaller; text-align: left; text-indent: 0; }
p.status { color: #8B0000; font-weight: bold; font-style: italic; }

#galleria ul li .overlay {
  width: 100%;
}

figcaption.profile { font-size: smaller; font-style: italic; text-align: center; text-indent: 0; }
img.profilePic { border-radius: 10%; height: auto; width: 100%; }
.center_contact { text-align: center; }

table { border-collapse: collapse; margin-left: auto; margin-right: auto; table-layout: fixed; width: 100%;  }
th { color: blue; }
th, td { text-align: left; padding: 8px; }
tr:nth-child(even) { background-color: #f2f2f2; }
td:nth-child(2) { text-align: center; }
}
