#content { background-color: #E5EBE8; display: block; min-height: 100%; position: absolute; width: 100%; }
body { color:#000000; font-size: 100%; margin: 0; overflow-x: hidden; }

#myTopnav { background-color: #24E28A; }
ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; }

li { float: left; border-right:1px solid #bbb; }

li:last-child { border-right: none; }

li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }

li a:hover:not(.active) { background-color: #111; }

.active { background-color: #4CAF50; }

#secondRow { background-color: #2AA6EE; color: #FFFFFF; font-size: 1.5em; text-align: center; padding-bottom: 0.5em; padding-top: 0.5em; position: -webkit-sticky; position: sticky; top: 0; z-index: 1; }
#secondRow img { width: 100%; height: 10em; }

#thirdRow { }
#firstColumn { display: none; float: left; margin-left: 0.5em; width: 25%; }
#secondColumn {display: block; float: left; margin-left: 4em; width: 65%; text-align: left; }
.center { margin: 10px auto; }
#thirdColumn { display: block; float: left; width: 27%; }
.newsBox { background-color: #94E8C1; border: 1px solid #6C6E72; border-style: dotted; color: red; margin: 0 0 0 2%; padding: 0 0 0 2%; }
.profileBox { margin: 2% 2% 0 15%; padding: 0 0 0 2%; }

#fourthRow { background-color: black; display: block; float: left; }
#fifthRow { background-color: #2AA6EE; bottom: 0; color: #D6DEE4; display: block; float: left; margin-top: 5%; width: 100%; }

#footer { font-size: 120%; padding-bottom: 1em; padding-top: 1em; text-align: center; }

p.center { text-align: center; }
p.status { color: #8B0000; font-weight: bold; font-size: smaller; font-style: italic; margin: 1% 25% 1% 15%; padding: 5% 2% 5% 2%; text-align: left; text-indent: 0; }
figcaption.profile { font-size: smaller; font-style: italic; text-align: left; text-indent: 0; }
img.profilePic { border-radius: 10%; height: auto; max-width: 100%; }
.center { text-align: center; }